<main class="text-white w-full h-screen overflow-y-scroll snap-y snap-mandatory">
    <section class="snap-start w-full h-screen sm:px-4/20 bg-fixed overflow-hidden bg-cover bg-entrance bg-center relative z-50">
        <div class="bg-black opacity-25 absolute left-0 top-0 w-full h-full"></div>
        <div id="" class="h-full w-screen sm:w-max flex flex-row items-center">
            <h2 class="hidden sm:block relative font-oswald uppercase text-8xl italic ml-6/20">écuries<span class="absolute w-max -bottom-24 left-19/20">de persévère</span></h2>
            <h2 class="relative sm:hidden font-oswald uppercase text-7xl text-center italic">écuries<br>de persévère</h2>
        </div>
    </section>
    <section class="snap-start w-full h-screen px-1/20 sm:px-4/20 bg-fixed overflow-hidden pt-12 sm:pt-0 bg-cover bg-wood bg-bottom">
        <div class="h-full pt-24 space-y-16">
            <h2 class="text-black font-oswald font-bold -rotate-6 text-3xl sm:text-5xl">Notre ligne de conduite</h2>
            <div class="citation relative h-max w-18/20 left-0 right-0 mx-auto">
                <!-- <b></b>
                <b></b>
                <b></b> -->
                <div class="bg-citation-bg border-4 border-citation-border p-10">
                    <p class="font-playfair text-center text-lg italic leading-loose m-0"><span class="text-3xl"> " C</span>haque cheval possède des qualités, peu importe sa race, ses origines, ou sa discipline, il suffit juste de prendre le temps d'écouter et de regarder pour trouver une solution adaptée. <span class="text-3xl">"</span></p>
                    <p class="font-oswald font-thin text-right">Karine MASSOT</p>
                </div>
            </div>
        </div>
    </section>
    <section class="snap-start w-full h-screen sm:px-4/20 bg-fixed overflow-hidden pt-16 sm:pt-0 bg-cover bg-wood bg-bottom relative">
        <div class="bg-gradient-to-b from-transparent to-black opacity-50 absolute left-0 top-0 w-full h-full z-0"></div>
        <div class="h-full px-1 sm:px-20 py-20 items-center space-y-20 z-10 relative">
            <h2 class="font-oswald text-5xl text-center drop-shadow-title">Présentation des écuries</h2>
            <iframe class="left-0 right-0 mx-auto w-full h-10/20 sm:15/20" src="https://www.youtube.com/embed/xl9Yt_wpBtc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </section>
</main>