<header id="header" class="h-24 sm:h-max bg-dark text-white snap-none sm:snap-start sticky sm:relative top-0 z-header overflow-hidden duration-500 ease-out">
    <div class="flex flex-row sm:flex-col justify-between items-center border-beige sm:border-y-2 py-2 px-5 sm:pt-4 sm:pb-6 sm:space-y-4">
        <img class="h-28 hidden sm:block" routerLink="/" src="/assets/imgs/logo.png" alt="">
        <img class="h-20 sm:hidden" routerLink="/" src="/assets/imgs/logo_mobile.png" alt="">
        <!-- Menu Ordi -->
        <div class="font-links uppercase hidden sm:flex flex-row flex-nowrap space-x-4 items-baseline">
            <a routerLinkActive="active" routerLink="/landing">accueil</a>
            <a routerLinkActive="active" routerLink="/team">equipe</a>
            <a routerLinkActive="active" routerLink="/installations">installations</a>
            <a routerLinkActive="active" routerLink="/prestations">prestations</a>
            <a routerLinkActive="active" routerLink="/philo">philosophie</a>
            <a routerLinkActive="active" routerLink="/withus">à nos côtés</a>
            <a routerLinkActive="active" routerLink="/contact">contact</a>
            <a routerLinkActive="active" routerLink="/blog">blog</a>
            <!-- <div>
                <a routerLink="login">
                    <span class="iconify inline h-14 w-16" data-icon="carbon:user-avatar-filled-alt"></span>
                    Se Connecter
                </a>
            </div> -->
        </div>

        <!-- Menu Mobile -->

        <svg id="burger" viewBox="0 0 100 100" data-status="close" class="sm:hidden h-12">
            <circle cx="10" cy="10" r="10" fill="CurrentColor" />
            <rect class="origin-tRect" id="tRect" x="10" y="0" width="80" height="20" transform="rotate(0)" fill="CurrentColor" />
            <circle id="trC" cx="90" cy="10" r="10" fill="CurrentColor" />
            <!-- ================================================================================= -->
            <g id="middle">
                <circle cx="10" cy="50" r="10" fill="CurrentColor" />
                <rect x="10" y="40" width="80" height="20" fill="CurrentColor" />
                <circle cx="90" cy="50" r="10" fill="CurrentColor" />   
            </g>
            <!-- ================================================================================= -->
            <circle cx="10" cy="90" r="10" fill="CurrentColor" />
            <rect class="origin-bRect" id="bRect" x="10" y="80" width="80" height="20" fill="CurrentColor" />
            <circle id="brC" cx="90" cy="90" r="10" fill="CurrentColor" />   
            
            <!-- ============================================================================================================= -->
    
            <animate id="stage1" xlink:href="#trC" attributeName="cy" from="10" to="90" dur="0.3s" begin="none" fill="freeze"/>
            <animate xlink:href="#tRect" attributeName="width" from="80" to="113" dur="0.3s" begin="stage1.begin" fill="freeze"/>
            <animateTransform xlink:href="#tRect" attributeName="transform" type="rotate" from="0" to="45" dur="0.3s" begin="stage1.begin" fill="freeze"
            values="0;22.5;45"
            keyTimes="0;0.4;1"/>
    
            <animate xlink:href="#middle" attributeName="fill-opacity" begin="stage1.begin" from="1" to="0" fill="freeze" dur="0.15s"/>
            
            <animate xlink:href="#brC" attributeName="cy" from="90" to="10" dur="0.3s" begin="stage1.begin" fill="freeze" />
            <animate xlink:href="#bRect" attributeName="width" from="80" to="113" dur="0.3s" begin="stage1.begin" fill="freeze" />
            <animateTransform xlink:href="#bRect" attributeName="transform" type="rotate" from="0" to="-45" dur="0.3s" begin="stage1.begin" fill="freeze"
            values="0;-22.5;-45"
            keyTimes="0;0.4;1"/>
    
            <!-- ============================================================================================================= -->
    
            <animate id="stage2" xlink:href="#trC" attributeName="cy" from="90" to="10" dur="0.3s" begin="none" fill="freeze"/>
            <animate xlink:href="#tRect" attributeName="width" from="113" to="80" dur="0.3s" begin="stage2.begin" fill="freeze"/>
            <animateTransform xlink:href="#tRect" attributeName="transform" type="rotate" from="45" to="0" dur="0.3s" begin="stage2.begin" fill="freeze"
            values="45;22.5;0"
            keyTimes="0;0.6;1"/>
    
            <animate xlink:href="#middle" attributeName="fill-opacity" begin="stage2.begin + 0.15s" from="0" to="1" fill="freeze" dur="0.15s"/>
            
            <animate xlink:href="#brC" attributeName="cy" from="10" to="90" dur="0.3s" begin="stage2.begin" fill="freeze" id="btC" />
            <animate xlink:href="#bRect" attributeName="width" from="113" to="80" dur="0.3s" begin="stage2.begin" fill="freeze" />
            <animateTransform xlink:href="#bRect" attributeName="transform" type="rotate" from="-45" to="0" dur="0.3s" begin="stage2.begin" fill="freeze"
            values="-45;-22.5;0"
            keyTimes="0;0.6;1"/>
        </svg>
    </div>
    <div id="menu" class="capitalize bg-white h-full w-screen sm:hidden p-4 pt-10 space-y-4 flex flex-col text-3xl z-header overflow-y-scroll text-black">
        <a routerLinkActive="active" routerLink="/landing">accueil</a>
        <a routerLinkActive="active" routerLink="/team">equipe</a>
        <a routerLinkActive="active" routerLink="/installations">installations</a>
        <a routerLinkActive="active" routerLink="/prestations">prestations</a>
        <a routerLinkActive="active" routerLink="/philo">philosophie</a>
        <a routerLinkActive="active" routerLink="/withus">à nos côtés</a>
        <a routerLinkActive="active" routerLink="/contact">contact</a>
        <a routerLinkActive="active" routerLink="/blog">blog</a>

        <hr class="border-t-2">

        <div class="w-max right-0 left-0 ml-auto mr-0">
            <a routerLink="login">
                Se Connecter
                <span class="iconify inline h-14 w-16" data-icon="carbon:user-avatar-filled-alt"></span>
            </a>
        </div>
    </div>
</header>
<!-- <div id="menu" class="hidden capitalize bg-white w-screen h-screen absolute left-0 top-0 sm:hidden p-4 pt-10 space-y-4 flex flex-col text-2xl z-header overflow-y-scroll">
    <a routerLinkActive="active" routerLink="/landing">accueil</a>
    <a routerLinkActive="active" routerLink="/team">equipe</a>
    <a routerLinkActive="active" routerLink="/installations">installations</a>
    <a routerLinkActive="active" routerLink="/prestations">prestations</a>
    <a routerLinkActive="active" routerLink="/philo">philosophie</a>
    <a routerLinkActive="active" routerLink="/withus">à nos côtés</a>
    <a routerLinkActive="active" routerLink="/contact">contact</a>
    <a routerLinkActive="active" routerLink="/blog">blog</a>

    <hr class="border-t-2">

    <div class="w-max right-0 left-0 ml-auto mr-0">
        <a routerLink="login">
            Se Connecter
            <span class="iconify inline h-14 w-16" data-icon="carbon:user-avatar-filled-alt"></span>
        </a>
    </div>
</div> -->