<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item slot="start" routerDirection="root" routerLink="/landing" lines="none" detail="false" routerLinkActive="selected">
      <ion-img style="width:75px" src="/assets/icon/icon.png"></ion-img>
    </ion-item>
    <ion-title>{{ folder }}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">{{ folder }}</strong>
    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
