<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="menu-list">
          <ion-list-header>Écuries de persévère</ion-list-header>
          
          <ion-note>Karine MASSOT</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <!-- ====================================================================================== -->
          <ion-accordion-group>
            <ion-accordion *ngFor="let tog of toggles"> 
              <ion-item slot="header">
              <ion-label>{{ tog.title }}</ion-label>
            </ion-item>
            
            <ion-menu-toggle slot="content" *ngFor="let elem of tog.pages; let i = index">
              <ion-item routerDirection="root" [routerLink]="[elem.url]" lines="none" detail="false" routerLinkActive="selected">
                <ion-label style="padding-left: 15px; font-weight: lighter;">{{ elem.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
            </ion-accordion>
          </ion-accordion-group>
  
          <!-- ====================================================================================== -->
  
          <ion-menu-toggle auto-hide="false" *ngFor="let p of lastPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
  
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
