<main class="text-white w-full font-playfair font-normal h-screen overflow-y-scroll overflow-x-hidden snap-y snap-mandatory">
  <section id="theFirstTeam" class="pt-24 p-5 min-h-screen snap-start">
      <div>
        <h2 class="text-5xl font-extralight font-oswald text-center pb-5">Karine MASSOT</h2>
        <p>Auprès des chevaux depuis sa naissance, Karine a grandi dans les troupeaux de poneys et chevaux de l’élevage familial.</p>
        <p>En selle depuis ses 3 ans, Karine a reçu une formation complète auprès de nombreux cavaliers de haut niveau : Pascale Massot-Dandoy, Philippe Limousin, Alain Franckville, Serge Balbin, Patrick Le Rolland, Wilfried Pierrot.</p>
        <p>Elle évoluera en compétition de dressage jusqu’à intégrer l’équipe de France de dressage espoir de l’âge de 14 à 18 ans.</p>
        
        <button class="bg-gray-800 text-xl rounded-md w-full py-2 my-2" (click)="toggle('karineMassot', $event)">Voir plus...</button>

        <ul id="karineMassot" data-open="false" data-height="" class="list-disc pl-4 sm:pl-8 overflow-y-hidden duration-500 ease-in">
            <li>2009, BPJEPS AE mention Equitation (Prépa-sports)</li>
            <li>2010, Certificat de gestion des entreprises hippiques (GHN)</li>
            <li>2011, ouverture des écuries de Persévère</li>
            <li>2011, formation auprès d’Antoine Cloux, puis formation en autodidacte de diverses méthodes tels que Monty Roberts, Buck Brannaman, Martin Black</li>
            <li>2015-2017, Diplôme universitaire en Ethologie Equine (université de Rennes 1)</li>
            <li>2016, Certificat de conseiller en nutrition et alimentation Equine (université de Laval - Quebec CA)</li>
            <li>2021, formation en Psychologie et Ethologie (Humanimalis)</li>
            <li>Depuis 2015, de nombreuses formations ou initiations complémentaires :
                <ul class="list-circle pl-4 sm:pl-6">
                    <li>Saddle-fitting (Eugénie Cottereau)</li>
                    <li>Massothérapie (Caroline Mailly et Emilie Valente)</li>
                    <li>Bit-Fitting (Karin Toetenel)</li>
                    <li>Naturopathie (Frédérique Robin)</li>
                    <li>Biomécanique Equine (Gillian Higgins)</li>
                    <li>Méthode Tellington (Danielle Dibbens)</li>
                    <li>Longues-rênes (Deborah Sokic)</li>
                    <li>Equitation Centrée (Brigitte Remillon)</li>
                    <li>Préparation mentale (Bianca Roch)</li>
                    <li>Communication Animale (Ophélie Plaa)</li>
                    <li>Parage phyiologique (Eric Bargouth)</li>
                    <li>Equitation Alexander (Françoise Cutiver-Jacquier)</li>
                    <li>Ostéopathie Equine (Marie Claveau)</li>
                </ul>
            </li>
        </ul>
        <p class="">Chaque formation, initiation est toujours suivie de recherches personnelles.</p>
      </div>
  </section>
  <section id="team" class="w-full min-h-screen h-auto bg-fixed bg-wood bg-cover bg-bottom space-y-16 flex flex-row flex-wrap items-stretch justify-between px-2 py-10">
      <div class="w-full snap-center">
          <iframe class="left-0 right-0 mx-auto border-4 border-citation-border" src="https://www.youtube.com/embed/ta834AjwX9g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="snap-center space-y-5">
          <img src="/assets/imgs/team/r_ladiglione.jpg" alt="">
          <div class="space-y-2">
              <h3>Roland LADIGLIONE</h3>
              <p></p>
              <p>
                  Roland, le conjoint de Karine, a rejoint l'équipe des écuries en 2012.</p><p>
                  Agriculteur de métier, les chevaux ne sont pas sa spécialité.</p><p>
                  Il produit le foin et la paille qui sont distribués au sein des écuries, et veille aux petites réparations courantes sur les installations tout comme aux gros travaux.
              </p>
          </div>
      </div>
      <div class="snap-center space-y-5">
          <a href="https://www.equita-sens.com" target="_blank">
              <img src="/assets/imgs/team/e_valente.jpg" alt="">
          </a>
          <div class="space-y-2">
              <h3>Emilie VALENTE</h3>
              <p>Kinesiologue et massothérapeuthe</p>
              <p>Masso-physiothérapeute de formation, Emilie s'occupe des petits bobos de nos protégés.</p><p>
                  Cette magicienne aux doigts de fées possède des formations complètent en bio-kinésiologie, communication animale et cheval thérapeute.</p>
          </div>
      </div>
      <div class="snap-center space-y-5">
          <a href="https://podologueequin.com" target="_blank">
              <img src="/assets/imgs/team/l_fuertes.jpg" alt="">
          </a>
          <div class="space-y-2">
              <h3>Laurie FUERTES</h3>
              <p>Podologue Equin</p>
              <p>Spécialiste du pied nu et de la ferrure souple, Laurie possède une formation solide.</p><p>
                  Nous aimons sa capacité à s'adapter à chaque cheval en puisant dans son expérience et les nombreux outils qu'elle possède. </p>
          </div>
      </div>
      <div class="snap-center space-y-5">
          <img src="/assets/imgs/team/b_francois.jpg" alt="">
          <div class="space-y-2">
              <h3>Bruno FRANCOIS</h3>
              <p>Dentiste Equin</p>
              <p>Dentiste Equin formé durant plus de 10 ans aux USA, Bruno a une expérience solide et une approche du cheval forte du temps passé auprès des horsemen américains.</p>
          </div>
      </div>
      <div class="snap-center space-y-5">
          <img src="/assets/imgs/team/duo.jpg" alt="">
          <div class="space-y-2">
              <h3>Maxime QUITTARD et Steven RUMBO</h3>
              <p>Maréchaux ferrants</p>
              <p>Maréchaux-ferrants spécialisés dans les ferrures orthopédiques, Maxime et Steven ne sont jamais à court d'idées pour soulager un cheval !</p><p>
C'est pour la richesse de leur technique que nous nous sommes tournés vers eux mais c'est leur capacité à être à l'écoute de chacun avec patience et bienveillance qui nous a le plus séduit.
</p>
          </div>
      </div>
      <div class="snap-center space-y-5">
          <a href="https://www.ophelie-plaa.com" target="_blank">
              <img src="/assets/imgs/team/o_plaa.jpg" alt="">
          </a>
          <div class="space-y-2">
              <h3>Ophélie PLAA</h3>
              <p>Communicatrice Animale</p>
              <p>Communicatrice animale depuis plusieurs années maintenant, elle a été formée par Ariane Troubat avant de trouver sa propre voie et de transcender son art.</p><p>
Ophélie est un rayon de soleil qui partage un peu de la douceur de son monde avec tout les protégés qui ont la chance de la croiser.</p><p>
</p>
          </div>
      </div>
      <div class="snap-center space-y-5">
          <a href="https://ergonomie-equestre.fr" target="_blank">
              <img src="/assets/imgs/team/e_cottereau.jpg" alt="">
          </a>
          <div class="space-y-2">
              <h3>Eugénie COTTEREAU</h3>
              <p>Saddle-fitteur</p>
              <p>Saddlefitteur au parcours impressionnant, Eugénie est LA référence dans son domaine.</p><p>
Elle possède une formation solide acquise en France, en Angleterre et en Allemagne auprès de professionnels renommés.</p><p>
Depuis 2012, elle se consacre entièrement au travail d'ergonomie du matériel équestre auprès des cavaliers amateurs et professionnels. Mais propose également de nombreuses publications et réflexions en collaborations avec des professionnels de filières complémentaires.
</p>
          </div>
      </div>
      <div class="snap-center space-y-5">
          <a href="https://ergonomie-equestre.fr" target="_blank">
              <img src="/assets/imgs/team/t_roberts.jpg" alt="">
          </a>
          <div class="space-y-2">
              <h3>Tasmin ROBERTS</h3>
              <p>Saddle-fitteur</p>
              <p>D'abord ostéopathe équin, Tasmin se tourne finalement vers le saddle-fitting en se formant auprès d'Eugénie Cottereau.</p><p>
Douce et discrète, elle n'en possède pas moins un oeil acéré, capable de repérer le moindre dysfonctionnement locomoteur, tant chez le cavalier que chez le cheval afin de proposer les solutions les plus pointues possibles.</p>
          </div>
      </div>
      <div class="snap-center space-y-5">
          <a href="https://www.carinemeurou-naturopathe.com" target="_blank">
              <img src="/assets/imgs/team/c_meurou.jpg" alt="">
          </a>
          <div class="space-y-2">
              <h3>Carine MEUROU​</h3>
              <p>Naturopathe</p>
              <p>Naturopathe formée par Frederique ROBIN, elle possède de nombreuses corde à son arc :</p><p>
Biorésonance, phytothérapie, micro-nutrition, aromathérapie, gemmothérapie, florithérapie, auriculothérapie et bien d'autres outils. </p><p>
Bienveillante  et à l'écoute de ces patients, elle propose des solutions adaptées aux besoins et aux possibilités de chacun.</p>
          </div>
      </div>
      <div class="snap-center space-y-5">
          <a href="https://www.facebook.com/Noemieranchon/" target="_blank">
              <img src="/assets/imgs/team/n_ranchon.jpg" alt="">
          </a>
          <div class="space-y-2">
              <h3>Noémie RANCHON </h3>
              <p>Bit-fitteur</p>
              <p>Cavalière de Dressage, Noémie est une amoureuse de la technique équestre et du mouvement juste.</p><p>
C'est dans cette optique qu'elle a intégré la toute première promotion de Bit-fitting française menée par Karen Toetenel dont elle sort avec les félicitations de sa formatrice.</p><p>
Très à l'écoute du cheval et du cavalier, nous apprécions tout autant sa minutie que son approche empathique.</p>
          </div>
      </div>
      <div class="snap-center space-y-5">
          <img src="/assets/imgs/team/marie.jpg" alt="">
          <div class="space-y-2">
              <h3>Marie</h3>
              <p>Ostéopathe</p>
              <p>Marie est diplômée d'une licence Staps spécialisée en entraînement sportif équestre, d'un diplôme d'ostéopathe Equin et possède une solide formation en médecine chinoise équine.</p><p>
Nous aimons sa solide expérience et la richesse de ses connaissances, ses capacités d'adaptation sur des couples aux besoins très différents.</p><p>
Sa capacité à aller au bout des choses tout en respectant les limites du cheval et de l'humain qu'elle a en face.</p>
          </div>
      </div>
      <div class="snap-center space-y-5">
          <a href="https://www.celinebocchino.com" target="_blank">
              <img src="/assets/imgs/team/c_boccchino.jpg" alt="">
          </a>
          <div class="space-y-2">
              <h3>Céline BOCCHINO</h3>
              <p>Photographe Equestre ​</p>
              <p>Passionnée de chevaux depuis toujours, Céline a développé une vision du cheval unique, qu'elle transmet avec amour et bienveillance au travers de ses photographies.</p><p>
Elle illustre les écuries depuis de nombreuses années ; mais éclaire également notre quotidien par sa joie de vivre et son sens de l'entraide.</p><p>
C'est également elle qui se cache derrière la communication internet des écuries !</p>
          </div>
      </div>
  </section>
</main>