section div {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
}
section:first-child>div:not(:first-child){
    direction: rtl;
    scrollbar-color: var(--beige) var(--dark);
    scrollbar-width: thin;
    overflow-y: scroll; 
}
section:first-child>div:not(:first-child)>div{
    direction: ltr;
}

section:first-child>div:not(:first-child)::-webkit-scrollbar {
    width: 5px;
}
section:first-child>div:not(:first-child)::-webkit-scrollbar-track {
background-color: var(--dark);
}
section:first-child>div:not(:first-child)::-webkit-scrollbar-thumb {
    background: var(--beige);
}
  
/* TEAM =========================================================================================== */

#team>div:not(:first-child){
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 30px 15px;
    width: 95%;
    box-shadow: 0 2px 9px 5px rgba(0, 0, 0, 0.58);
    background-color: var(--citation-bg);
    border: 4px solid var(--dark);
}
#team>div:not(:first-child)>*{
    font-size: 16px;
    line-height: 1.625;
    display: flex;
    flex-direction: column;
    width: 70%;
}

/* TEXTES ========================================================================================= */

#team>div:not(:first-child) p{
    text-align: justify;
    margin-top: 15px;
}
#team>div:not(:first-child) h3{
    margin-bottom: 15px;
}

/* ================================================================================================ */

a>img{
    transition: all .15s linear;
    cursor: pointer;
    filter: drop-shadow(0 0 0 transparent);
}
a>img:hover{
    transition: all .25s linear;
    filter: drop-shadow(0 0 15px var(--green));
}

/* IMAGES ========================================================================================= */

#team>div:not(:first-child)>img{
    top: 0;
    bottom: 0;
    margin-bottom: auto;
    margin-top: auto;
    width: 20%;
    border-radius: 50%;
    border: 2px solid white;
}
#team>div:not(:first-child)>a>img{
    top: 0;
    bottom: 0;
    margin-bottom: auto;
    margin-top: auto;
    width: 100%;
    border-radius: 50%;
    border: 2px solid white;
}
#team>div:not(:first-child)>a{
    top: 0;
    bottom: 0;
    margin-bottom: auto;
    margin-top: auto;
    width: 20%;
}



@media (min-width: 768px) {
    #team>div:not(:first-child){
        width: 49%;
    }
}
@media (min-width: 1280px) {
    #team>div:not(:first-child){
        width: 49%;
    }
}

/* 640px
768px
1024px
1280px
1536px */