<div id="popup" class="absolute left-0 top-0 w-screen h-screen z-50 hidden">
    <div class="bg-black opacity-90 absolute w-full h-full z-0"></div>
    <div class="relative font-oswald text-white w-full left-0 right-0 mx-auto h-screen pt-1/20">
        <img id="popup-img" class="h-15/20 object-fill left-0 right-0 mx-auto" src="" alt="">
        <div class="w-full text-center p-5">
            <h3 id="popup-title" class="font-extralight uppercase text-base"></h3>
            <p id="popup-txt" class="text-sm"></p>
        </div>
        <button (click)="closePopup()" class="cursor-pointer">
            <span class="iconify absolute top-10 right-10 w-16 h-16 text-white" data-icon="maki:cross"></span>
        </button>
    </div>
</div>
<main class="text-white w-full font-playfair font-normal bg-wood bg-cover bg-fixed relative z-0">
    <div class="bg-white opacity-50 absolute left-0 top-0 w-full h-full z-0"></div>
    <div class="text-black text-xl px-5/20 mb-24 relative pt-10 snap-start sm:snap-none">
        <h2 class="font-oswald font-extralight text-5xl">Nos installations</h2>
        <p class="text-center mt-10 mb-5">Les écuries de persévère est une entreprise jeune et dynamique en pleine expansion.</p>
        <p class="text-center">Chaque hiver, nous nous efforçons de restaurer certaines parties de la propriété et de faire des travaux d'entretien et/ou de nouveaux aménagements pour le plus grand confort de nos pensionnaires.</p>
    </div>
    <div id="installs" class="relative flex flex-row flex-wrap items-stretch gap-x-1/20 gap-y-12 px-1/20 pb-24">
        <div class="snap-center w-6/20">
            <img class="h-64 object-cover w-full" src="/assets/imgs/install/carriere_couverte.jpg" alt="">
            <div class="bg-citation-bg w-full text-center p-5">
                <h3 class="font-oswald font-extralight text-3xl uppercase text-base">carrière couverte</h3>
                <p class="text-green text-sm text-sm">
                    50 x 15<br>En copeaux reitrack avec arrosage automatique et éclairage
                </p>
            </div>
        </div>
        <div class="snap-center w-6/20">
            <img class="h-64 object-cover w-full" src="/assets/imgs/install/carriere_dressage.jpg" alt="">
            <div class="bg-citation-bg w-full text-center p-5">
                <h3 class="font-oswald font-extralight text-3xl uppercase text-base">carrière dressage</h3>
                <p class="text-green text-sm text-sm">
                    60 x 20<br>Sol Normandie drainage avec arrosage
                </p>
            </div>
        </div>
        <div class="snap-center w-6/20">
            <img class="h-64 object-cover w-full" src="/assets/imgs/install/carriere_obstacle.jpg" alt="">
            <div class="bg-citation-bg w-full text-center p-5">
                <h3 class="font-oswald font-extralight text-3xl uppercase text-base">carrière obstacle</h3>
                <p class="text-green text-sm text-sm">
                    70 x 30 en sable<br>300m de piste de galop
                </p>
            </div>
        </div>
        <div class="snap-center w-6/20">
            <img class="h-64 object-cover w-full" src="/assets/imgs/install/rond_de_longe.jpg" alt="">
            <div class="bg-citation-bg w-full text-center p-5">
                <h3 class="font-oswald font-extralight text-3xl uppercase text-base">rond de longe</h3>
                <p class="text-green text-sm text-sm">
                    Ø de 16m<br>Avec sol Normandie drainage, arrosé
                </p>
            </div>
        </div>
        <div class="snap-center w-6/20">
            <img class="h-64 object-cover w-full" src="/assets/imgs/install/marcheur.png" alt="">
            <div class="bg-citation-bg w-full text-center p-5">
                <h3 class="font-oswald font-extralight text-3xl uppercase text-base">marcheur</h3>
                <p class="text-green text-sm text-sm">
                    Un marcheur automatique de 20 m de diamètre avec sol en géotextile et arrosage automatique
                </p>
            </div>
        </div>
        <div class="snap-center w-6/20">
            <img class="h-64 object-cover w-full" src="/assets/imgs/install/garden.jpg" alt="">
            <div class="bg-citation-bg w-full text-center p-5">
                <h3 class="font-oswald font-extralight text-3xl uppercase text-base">spring garden</h3>
                <p class="text-green text-sm text-sm">
                    3 obstacles fixes<br>ainsi qu'un parc d'obstacles
                </p>
            </div>
        </div>
        <div class="snap-center w-6/20">
            <img class="h-64 object-cover w-full" src="/assets/imgs/install/pediluve.jpg" alt="">
            <div class="bg-citation-bg w-full text-center p-5">
                <h3 class="font-oswald font-extralight text-3xl uppercase text-base">pédiluve</h3>
                <p class="text-green text-sm text-sm">
                    P&diluve à eau tournante avec niveau variable
                </p>
            </div>
        </div>
        <div class="snap-center w-6/20">
            <img class="h-64 object-cover w-full" src="/assets/imgs/install/hebergement.jpg" alt="">
            <div class="bg-citation-bg w-full text-center p-5">
                <h3 class="font-oswald font-extralight text-3xl uppercase text-base">hébergement</h3>
                <p class="text-green text-sm text-sm">
                    De drans paddocks équipés d'abreuvoirs automatiques, d'abris et de râteliers
                </p>
            </div>
        </div>
        <div class="snap-center w-6/20">
            <img class="h-64 object-cover w-full" src="/assets/imgs/install/hebergement_nature.jpg" alt="">
            <div class="bg-citation-bg w-full text-center p-5">
                <h3 class="font-oswald font-extralight text-3xl uppercase text-base">hébergement</h3>
                <p class="text-green text-sm text-sm">
                    Confortable natural life<br>Un mode de vis semi-naturel
                </p>
            </div>
        </div>
        <div class="snap-center w-6/20">
            <img class="h-64 object-cover w-full" src="/assets/imgs/install/hebergement_box.jpg" alt="">
            <div class="bg-citation-bg w-full text-center p-5">
                <h3 class="font-oswald font-extralight text-3xl uppercase text-base">hébergement</h3>
                <p class="text-green text-sm text-sm">
                    Des boxs spacieux, tous équipés d'abreuvoirs automatiques pour les chevaux en convalescence
                </p>
            </div>
        </div>
        <div class="snap-center w-6/20">
            <img class="h-64 object-cover w-full" src="/assets/imgs/install/sellerie.jpg" alt="">
            <div class="bg-citation-bg w-full text-center p-5">
                <h3 class="font-oswald font-extralight text-3xl uppercase text-base">selleries</h3>
                <p class="text-green text-sm text-sm">
                    De grandes selleries aménagées
                </p>
            </div>
        </div>
        <div class="snap-center w-6/20">
            <img class="h-64 object-cover w-full" src="/assets/imgs/install/club_house.jpg" alt="">
            <div class="bg-citation-bg w-full text-center p-5">
                <h3 class="font-oswald font-extralight text-3xl uppercase text-base">club house</h3>
                <p class="text-green text-sm text-sm">
                    Chaleureux, spacieux et accueillant, vous y trouverez tous le confort nécessaire pour pallier aux caprices de la météo ou juste pour partager un bon moment entre amis
                </p>
            </div>
        </div>
        <div class="snap-center w-6/20">
            <img class="h-64 object-cover w-full" src="/assets/imgs/install/douche.jpg" alt="">
            <div class="bg-citation-bg w-full text-center p-5">
                <h3 class="font-oswald font-extralight text-3xl uppercase text-base">douches</h3>
                <p class="text-green text-sm text-sm">
                    Douche spacieuse avec eau chaude
                </p>
            </div>
        </div>
        <div class="snap-center w-6/20">
            <img class="h-64 object-cover w-full" src="/assets/imgs/install/cadre.jpg" alt="">
            <div class="bg-citation-bg w-full text-center p-5">
                <h3 class="font-oswald font-extralight text-3xl uppercase text-base">cadre exeptionnel</h3>
                <p class="text-green text-sm text-sm">
                    Au sein de 18 hectares de prairies dans une exploitation agricole imprégnée de 200 ans d'histoire
                </p>
            </div>
        </div>
        <div class="snap-center w-6/20">
            <img class="h-64 object-cover w-full" src="/assets/imgs/install/exterieur.jpg" alt="">
            <div class="bg-citation-bg w-full text-center p-5">
                <h3 class="font-oswald font-extralight text-3xl uppercase text-base">extérieur</h3>
                <p class="text-green text-sm text-sm">
                    De très nombreux chemins de balade de 15 minutes à plus de 3 heures et accessibles à tous niveaux
                </p>
            </div>
        </div>
    </div>
</main>